.add-form{
    width: 100px;
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 230, 143);
    position: absolute;
    top: 50px;
    right: 50px;
}
